.container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.label {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inputs {
  margin-top: 3%;
  width: 90%;
  height: 60%;
  padding-left: 3%;
  margin-left: 3%;
  font-size: 20px;
  border-radius: 5px;
  border-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button {
  margin-top: 3%;
  border-color: gray;
  width: 50%;
  align-self: center;
  font-size: 22px;
  height: auto;
  color: wheat;
  background-color: blueviolet;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
